body {
    margin-bottom: 0px;
}
* {
    letter-spacing: 1px; 
    font-family: 'SF Pro Display', sans-serif !important;
}
.btn {
    font-size: 14px;
    padding: 14px 18px;
    border-radius: 6px;
}
.btn-primary {
    background-color: #3597ff !important;
}
.text-gray {
    color: #566b8d;
}
.btn-gray {
    background-color: rgba(152, 156, 162, 0.15);
    border-color: rgba(152, 156, 162, 0.15);
    color: #989ca2;
}
.fs-8 {
    font-size: 1.125rem !important;
}
  
.fs-7 {
    font-size: 0.875rem;
}
.fw-light {
    font-weight: 300 !important;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}
.bg-primary-lighter {
    background-color: #f3f9ff;
}
.btn-lg {
    padding: 18px 50px;
    font-weight: bold;
}

/* header */
header .container { 
    font-size: 12px;
    color: #1a232f;
    height: 50px;
}
header .discord-header-btn {
    font-size: 12px;
    padding: 6px 10px;
}


/* navbar */
nav a {
    font-size: 14px;
    font-weight: 500;
    color: #1a232f !important;
    padding: 8px 0px 8px 0px;
}

nav a:hover { 
    color: #3597ff !important; 
}

.dropdown .dropdown-menu {
    margin: 0px;
    border-radius: 5px 5px 5px 5px ;  
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #fff;
}

.navbar-nav {
    margin-left: 48px;
}


/* main visual */
#mainVisual {
    background-color: #3597ff !important;
    font-weight: 300!important;
}
#mainVisual .main-visual-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: auto !important;
    width: auto !important;
    max-width: 50%;
    max-height: 95%;
    z-index: 99;
}
#mainVisual .col-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
#mainVisual .row .col-image-wrapper {
    position: relative;
    bottom: 0;
    z-index: 0;
    /* opacity: 0.2; */
}
#mainVisual .shape {
    width: 241px;
    right: 0;
    bottom: -240px;
    z-index: 0;
}
#mainVisual .shape img {
    width: 482px;
}

/* why */
#why .card-text {
    font-size: 0.875rem;
}
#why .card-title {
    font-size: 1.25rem;
}


/* vision */
.card-vision {
    width: 233px;
    height: 183px;
    border-radius: 4px;
    padding: 16px;
    margin: 8px;
}
.card-vision-classes {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}
.card-vision-students {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}
.card-vision-labmasters {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}
.card-vision-schools {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}
#vision .count {
    font-size: 90px;
    font-weight: 700!important;
    margin-bottom: 0;
}
#vision .type {
    font-size: 18px;
    font-weight: 700!important;
    margin-bottom: 0;
}


/* labs */
#labs a:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border-radius: 5px;
}


/* schools */
.letter-p {
    width: 213px;
    right: 0;
    z-index: 0;
    bottom: -260px;
}

.letter-p img {
width: 436px;
}


/* want */
#want .heading {
    top: -48px;
    font-size: 62px;
    color: rgba(209, 220, 231, 0.3);
    z-index: 0;
}


/* responsivness */

@media (max-width: 1199.98px) {
    #mainVisual .shape {
      width: 120px;
      bottom: -120px;
    }
    #mainVisual .shape img {
      width: 241px;
    }
    .letter-p img {
        width: 218px;
    }
    .letter-p {
        width: 107px;
        bottom: -150px;
    }
}
